@import "config";
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;
  font-size: 13px;
  font-weight: 400px;
  button {
    background: #1a73e8;
    color: white;
    padding: 5px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  h1 {
    margin: 15px;
    display: block;
    font-size: 70px;
    letter-spacing: -7px;
    span {
      margin: 0;
      padding: 0;
    }
  }
  input[name="search"] {
    width: 500px;
    height: 40px;
  }
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

i {
  margin: 10px;
}
.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 30px;
  height: 42px;
  width: 550px;
}
.search-txt {
  border: none;
  outline: none;
}
.search-btns {
  height: 80px;
  margin: 15px;
  display: flex;
  justify-content: center;
  input[name="button"] {
    margin: 20px;
    padding: 5px;
    border: none;
    background-color: rgb(239, 239, 239);
    font-size: 13px;
    font-weight: 100px;
    width: 150px;
  }
}

footer {
  width: 100vw;
  height: 100px;
  background: rgb(239, 239, 239);
  // position: sticky;
  // bottom: 0;
  font-size: 13px;
  font-weight: 100px;
  margin-top: auto;

  .first_four {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .last_three {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
}
.country {
  line-height: 40px;
  height: 40px;
  margin-left: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  // position: sticky;
  // bottom: 0;
}

input[name="button"]:hover,
i:hover,
button:hover {
  cursor: pointer;
  box-shadow: 0 0 1px;
}

a:hover {
  text-decoration: underline;
}

.border:hover {
  box-shadow: 0px 0px 1px;
}
.sign-in:hover {
  transform: scale(1.01);
  background: #2b7de9;
}

@media screen and (max-width: 1000px) {
  footer {
    height: 120px;
    .first_four {
      width: 50vw;
      display: flex;
      justify-content: center;
    }
    .last_three {
      width: 50vw;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    .footer {
      flex-wrap: wrap;
      width: 100vw;
    }
    .first_four {
      display: none;
    }
    .last_three {
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .border {
    width: 80vw;
  }
  input[name="search"] {
    width: 75vw;
    height: 40px;
  }
}
@media screen and (max-width: 600px) {
  .search-btns {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  main h1 {
    font-size: 25vw;
  }
  .border {
    width: 75vw;
  }
  main input[name="search"] {
    width: 60vw;
  }
  .fas {
    margin: 0;
  }
  .fa-keyboard {
    display: none;
  }
  .nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-height: 530px) {
  main {
    margin-top: 20px;
  }
  footer {
    height: 80px;
  }
}
